# Serverless directories.ideabackend/.aws-sam# package-lock.jsonbackend/PersonalAccountFunction/config/config.jsbackend/PersonalAccountFunction/config/ses-email-sender.jsfrontend/constants.js# package directories/backend/PersonalAccountFunction/node_modules//frontend/node_modules/